.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: white !important;
}

.header > ul {
    position: absolute;
    left: 0;
    width: 100vw;
}

.site-layout {
    background: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh !important;
}

.site-layout-background {
    background: linear-gradient(rgba(29, 38, 113, 0.5), rgba(195, 55, 100, 0.5));
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-layout-background > h1, h2 {
    color: white !important;
    text-align: center;
}

.ant-menu-item {
    font-weight: bolder;
}

.ant-menu-item-selected, .ant-menu-item-active {
    color: #8c43ff !important;
    border-bottom: 3px solid #8c43ff !important;
}

h2.ant-typography {
    margin-top: 0 !important;
}

.footer {
    border-top: 1px solid #f0f0f0;
    text-align: center;
    background: white !important;
}

.skills-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-evenly;
    padding: 2rem;
    background: white !important;
}

.ant-card-head {
    background: #8c43ff !important;
}

.ant-card-head-title {
    color: white;
    font-weight: bolder;
    text-align: center;
}

.card-body {
    padding-left: 1rem;
}

.bold-purple {
    color: #8c43ff !important;
    font-weight: bolder;
}

/* @media screen and (max-width: 600px) { */
    .ant-card, .ant-card-bordered, .ant-card-small {
        margin: 0.5rem 0 !important;
    }
/* } */

.skills {
    color: #8c43ff !important;
    text-align: center;
    background: white !important;
    margin-bottom: 0 !important;
    padding-top: 2rem;
}

.projects-wrapper {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-evenly;
    padding: 2rem;
}

.social-icon {
    color: white;
    font-size: 25 !important;
}
