.side-nav {
    height: 100vh;
}

.ant-layout-sider {
    background: white !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:hover {
    color: rgb(140, 67, 255);
}

.ant-menu-item {
    display: flex;
    align-items: center;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgb(140, 67, 255) !important;
}

.ant-menu-item-selected {
    color: white;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected > span {
    color: white;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #883997 !important;
}
